/* Body */

html {
  position: relative;
  min-height: 100%;
}

/* above is new */

body {
  margin: 0 0 40px; /* was margin: 0; */
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Main content */

.main {
  text-align: center;
}

.logo {
  height: 92px;
  width: 272px;
  display: block;
  margin: 0 auto;
}

.searchbox {
  width: 33%;
  font-size: 16px;
  margin-top: 10px;
  border: 1px solid #dfe1e5;
  border-radius: 20px;
  resize: none;
  height: 35px; 
}

.btn {
  padding: 0 16px 0 16px;
  margin: 30px 0 20px 0;
  font-size: 14px;
  background-color: #f2f2f2;
  line-height: 40px;
  border-radius: 4px;
  color: #5F6368;
}

/* Navigation */

.navigation {
  padding-bottom: 150px;
  padding-top: 5px;
}

.navigation a {
  color: rgba(0,0,0,.54);
  text-decoration: none;
  font-size: 13px;
}

.nav-left {
  float: left;
}

.nav-right {
  float: right;
}

#nav-btn {
  margin: 15px 15px 15px 15px;
  background-color: rgb(66, 133, 244);
}

#nav-btn {
  padding: 3px 12px 3px 12px;
  margin-top: 4px;
  color: white;
  font-weight: bold;
  font-size: 13px;
  line-height: 28px;
}
.navigation a {
  padding: 15px 15px 15px 15px;
}

/* Footer */

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40px;
  /* above is new */
  width: 100%;
  background-color: #f2f2f2;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
}

.footer a {
  color: rgba(0,0,0,.54);
  padding: 0px 15px 0px 15px;
  vertical-align: middle;
  text-decoration: none;
}

.footer-left {
  float: left;
}

.footer-right {
  float: right;
}
